<img id="image" src="../../assets/MicrosoftTeams-image.png" alt="">
<div routerLink="/home/user-requests">
    <h5 id="home"> <i class="fa-solid fa-house"></i> &nbsp;<span>Home</span></h5>
</div>

<div routerLink="/home">
    <h5 id="bytedesk"><i class="fa-solid fa-window-maximize"></i> &nbsp;ByteDesk</h5>
</div>

<h5 id="settings"><i class="fa-solid fa-gear"></i> &nbsp;Settings</h5>

<br>
<div (click)="logout()">
    <h5 id="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp;Log out</h5>

</div>

<p id="copyRight">Copyright &copy; 2022 Bytestrone <br> <span id="rights"> All rights reserved </span></p>