<div class="container ">
    <div class="row">
        <div class="col-4"></div>
        <div id="login" class="col-4">
            <form [formGroup]="loginForm" action="">
                <img id="image" src="../../assets/bytestrone.png" alt="">
                <div id="validUserId">
                    <label for="" style="color: white;">userId<span style="color: red;">*</span></label>
                    <input type="text" formControlName="userId" class="form-control"> <br>
                    <div *ngIf="loginForm.get('userId')?.touched&&this.loginForm.get('userId')?.errors">
                        <span style="color:red ;">Please enter userid</span>
                    </div>
                </div>
                <div id="validPassword">
                    <label for="" style="color: white;">password<span style="color: red;">*</span></label>
                    <input type="password" formControlName="password" class="form-control">
                    <div *ngIf="loginForm.get('password')?.touched&&this.loginForm.get('password')?.errors">
                        <span style="color:red ;">Please enter password</span>
                    </div>
                </div>
                <div id="loginBtn">
                    <button class="btn btn-success" (click)="login()">Login</button>
                </div>
                <div id="companyName">
                    <h6>Copyright &copy; 2022 Bytestrone <br> <span id="companyNameRights"> All rights reserved </span></h6>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>