#header{
    width: 82vw;
    height: 10vh;
    background-color: #D9D9D6;
    margin-left: 18vw
}
#navbar{
    width: 18vw;
    height: 100vh;
    background-color: #1F378C;
    margin-top: -10vh;

   
}
#content{
    width: 82vw;
    height: 90vh;
    background-color:white;
    margin-left: 18vw;
    margin-top: -89vh;
    
}
#home{
    width: 100vw;
}